:80 {
  try_files {path} /
  header /img/* Cache-Control max-age=31536000
  header /js/* Cache-Control max-age=31536000
  header /css/* Cache-Control max-age=31536000
  header /fonts/* Cache-Control max-age=31536000
  encode gzip
  root * /usr/share/caddy
  file_server
}